version: '3.3'


services:
  bot:
    build: ./
    restart: always
    container_name: bot
    env_file: .env
    depends_on:
      - keydb
    volumes:
      - ./sqlite_data:/sqlite_data
      - ./alembic/versions:/alembic/versions
    networks:
      - app_network
  keydb:
    image: eqalpha/keydb:latest
    container_name: keydb
    ports:
      - "6379:6379" 
    volumes:
      - cache:/data
      - ./keydb_conf/keydb.conf:/etc/keydb/keydb.conf
    command: keydb-server /etc/keydb/keydb.conf --requirepass pass
    networks:
      - app_network
    deploy:
      resources:
        limits:
          memory: 300M
        reservations:
          memory: 256M


volumes:
  cache:
  sqlite_data:


networks:
  app_network:  # Создание внутренней сети для взаимодействия контейнеров
    driver: bridge
