version: '3.3'


services:
  bot:
    build: ./
    restart: always
    container_name: bot
    env_file: .env
    depends_on:
      - keydb
    volumes:
      - ./sqlite_data:/sqlite_data
      - ./alembic/versions:/alembic/versions
    networks:
      - app_network
  keydb:
    image: eqalpha/keydb:latest
    container_name: keydb
    ports:
      - "6379:6379" 
    volumes:
      - cache:/data
      - ./keydb_conf/keydb.conf:/etc/keydb/keydb.conf
    command: keydb-server /etc/keydb/keydb.conf --requirepass pass
    networks:
      - app_network
    deploy:
      resources:
        limits:
          memory: 300M
        reservations:
          memory: 256M
    healthcheck:
      test: ["CMD", "keydb-cli", "--raw", "-a", pass, "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped

volumes:
  cache:
  sqlite_data:


networks:
  app_network:  # Создание внутренней сети для взаимодействия контейнеров
    driver: bridge
